.feednavbar-container{
    width: 954px;
    height: 61px;
    margin-top: 20px;
    border-radius: 7px;
    color: var(--basic-100);
    display: flex;
    align-items: center;
    justify-content: start;
}

.feednavbar-container >a{
    margin: 0 15px 0 15px;
    font-weight: 700;
}

/* .feednavbar-container >a:hover{
    color: #ff5f5f;
} */

.active-link{
    color: red;
}
.normal-link{
    color: var(--black);
}


/* Desktop */
@media (max-width: 1024px) {
    .feednavbar-container {
        width: 50rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .feednavbar-container {
        width: 100%;
        justify-content: center;
    }

    .feednavbar-container > a {
        font-size: 0.9rem;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .feednavbar-container {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0px;
        height: auto;
    }

    .feednavbar-container > a {
        font-size: 0.8rem;
    }
}
